<div class="p-[25px]">
  <mat-card appearance="outlined">
    <!-- Header -->
    <mat-card-header>
      <mat-card-title class="h3">{{title}}</mat-card-title>
      <span class="spacer"></span>
    </mat-card-header>

    <!-- Table Component -->
    <app-custom-table [columns]="tableColumns"
                      [userRoleClaims]="userRoleClaims"
                      [objects]="objects"
                      [isLoading]="isLoading"
                      [expandableRows]="true"
                      [advancedFilter]="true"
                      [expandedElement]="expandedElement"
                      (openForm)="onOpenForm($event)"
                      (toggleExpand)="onToggleExpand($event)">

      <!-- Define the expanded content template -->
      <ng-template #expandedContent let-element>
        <div class="grid lg:grid-cols-3 gap-6 p-4">

          <!-- List Roles -->
          <div class="mb-6">
            <div class="flex items-center"> <mat-icon class="me-2">key</mat-icon> <span class="text-lg font-medium"> Roles </span> </div>
            <mat-chip-set>
              <mat-chip *ngFor="let role of element.roles" color="primary">{{ role }}</mat-chip>
            </mat-chip-set>
          </div>

          <div *ngIf="element.dateOfBirth != null || element.dateOfBirth != ''">
            <div class="flex items-bottom"> <mat-icon class="me-2">cake</mat-icon> <span class="text-lg font-medium"> Date of Birth </span> </div>
            <span class="text-gray-700">{{element.dateOfBirth}}</span>
          </div>

          <div>
            <div *ngIf="element.phoneNumber != null || element.phoneNumber != ''" class="flex items-bottom"> <mat-icon class="me-2">phone</mat-icon> <span class="text-lg font-medium"> Phone Number </span> </div>
            <span class="text-gray-700">{{element.phoneNumber}}</span>
          </div>
        </div>
      </ng-template>

      <!-- Advanced Filter Template -->
      <ng-template #filterForm>
        <form [formGroup]="userQueryForm" (ngSubmit)="fetchData()">
          <div class="grid grid-cols-4 gap-2">

            <!-- E-Mail -->
            <mat-form-field class="" appearance="outline">
              <mat-label>E-Mail</mat-label>
              <input matInput formControlName="email" maxlength="50">
            </mat-form-field>

            <!-- Username -->
            <mat-form-field class="" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="userName" maxlength="50">
            </mat-form-field>

            <!-- First Name -->
            <mat-form-field class="" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" maxlength="50">
            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field class="" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" maxlength="50">
            </mat-form-field>

            <!-- Date of Birth Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>Date of Birth From</mat-label>
                <input matInput formControlName="dateOfBirthFrom" [matDatepicker]="fromPicker">
                <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>To</mat-label>
                <input matInput formControlName="dateOfBirthTo" [matDatepicker]="toPicker">
                <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Roles -->
            <!--<mat-form-field class="" appearance="outline">
              <mat-label>Roles</mat-label>
              <mat-chip-grid #rolesChipGrid>
                <mat-chip-row *ngFor="let role of selectedRoles" (removed)="remove(role)">
                  {{role.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + role.name">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>

              <input #roleInput
                     [matChipInputFor]="rolesChipGrid"
                     [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                     (matChipInputTokenEnd)="add($event)"
                     [value]="currentRole()"
                     (input)="onRoleInputChange(roleInput.value)"
                     placeholder="Add role..."
                     autocomplete="off" />
              <mat-icon matSuffix>security</mat-icon>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let role of filteredRoles" [value]="role.id">
                  {{role.name}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>-->

            <!-- Buttons -->
            <div class="flex items-center pb-4">
              <button mat-button matButton="tonal" color="primary" type="submit">Filter</button>
              <button mat-button type="button" (click)="userQueryForm.reset(); fetchData();">Reset</button>
            </div>

          </div>
        </form>
      </ng-template>


    </app-custom-table>
  </mat-card>
</div>
