<div class="p-[25px]">
  <mat-card appearance="outlined">
    <!-- Header -->
    <mat-card-header>
      <mat-card-title class="h3">{{title}}</mat-card-title>
      <!--<mat-card-subtitle class="">List</mat-card-subtitle>-->
      <span class="spacer"></span>
    </mat-card-header>

    <!-- Table Component -->
    <app-custom-table [columns]="tableColumns"
                      [userRoleClaims]="userRoleClaims"
                      [objects]="objects"
                      [isLoading]="isLoading"
                      [expandableRows]="true"
                      [advancedFilter]="true"
                      [expandedElement]="expandedElement"
                      (openForm)="onOpenForm($event)"
                      (delete)="onDelete($event)"
                      (export)="onExport($event)"
                      (fileSelected)="onImportFile($event)"
                      (toggleExpand)="onToggleExpand($event)">

      <!-- Define the expanded content template -->
      <ng-template #expandedContent let-element>
        <div class="grid lg:grid-cols-2 gap-6 p-4">

          <!-- Composition Chart -->
          <div *ngIf="element.composition?.length" class="mb-6 col-span-2">
            <apx-chart [series]="compositionChart(element)?.series!"
                       [chart]="compositionChart(element)?.chart!"
                       [labels]="compositionChart(element)?.labels!"
                       [plotOptions]="compositionChart(element)?.plotOptions!"
                       [legend]="compositionChart(element)?.legend!"
                       [colors]="compositionChart(element)?.colors!"
                       [title]="compositionChart(element)?.title!">
            </apx-chart>
          </div>
        </div>

        <div class="grid grid-cols-4">
          <!-- Eccentricity Section -->
          <div class="mt-4">
            <h3 class="text-lg font-medium mb-2">Eccentricity</h3>
            <p class="text-gray-700">{{element.orbitalEccentricity}}</p>
          </div>

          <!-- Inclination Section -->
          <div class="mt-4">
            <h3 class="text-lg font-medium mb-2">Inclination</h3>
            <p class="text-gray-700">{{element.orbitalInclination}}°</p>
          </div>

          <!-- Semi-Major Axis Section -->
          <div class="mt-4">
            <h3 class="text-lg font-medium mb-2">Semi-Major Axis</h3>
            <p class="text-gray-700">{{element.semiMajorAxis}} km</p>
          </div>

          <!-- Distance from Star Section -->
          <div class="mt-4">
            <h3 class="text-lg font-medium mb-2">Distance from Planet</h3>
            <p class="text-gray-700">{{element.distanceFromPlanet}} km</p>
          </div>

          <!-- Description Section -->
          <div *ngIf="element.description" class="mt-4 col-span-4">
            <h3 class="text-lg font-medium mb-2">Description</h3>
            <p class="text-gray-700">{{element.description}}</p>
          </div>
        </div>

        <!-- No Data Message -->
        <div *ngIf="!element.atmosphere?.length && !element.composition?.length && !element.description"
             class="text-gray-500 text-center py-4">
          No additional information available for this moon.
        </div>
      </ng-template>

      <!-- Advanced Filter Template -->
      <ng-template #filterForm>
        <form [formGroup]="moonQueryForm" (ngSubmit)="fetchData()">
          <div class="grid grid-cols-4 gap-2">

            <!-- Name -->
            <mat-form-field class="" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" maxlength="50">
            </mat-form-field>

            <!-- Planet -->
            <mat-form-field appearance="outline">
              <mat-label>Planet</mat-label>
              <mat-select formControlName="planetId">
                <mat-option *ngFor="let planet of planets" [value]="planet.id">{{planet.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Date Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>From</mat-label>
                <input matInput formControlName="from" [matDatepicker]="fromPicker">
                <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>To</mat-label>
                <input matInput formControlName="to" [matDatepicker]="toPicker">
                <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Mass Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>Mass Min</mat-label>
                <input matInput type="number" formControlName="minMass" min="0" placeholder="Min">
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>Mass Max</mat-label>
                <input matInput type="number" formControlName="maxMass" min="0" placeholder="Max">
              </mat-form-field>
            </div>

            <!-- Diameter Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>Diameter Min</mat-label>
                <input matInput type="number" formControlName="minDiameter" min="0" placeholder="Min">
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>Diameter Max</mat-label>
                <input matInput type="number" formControlName="maxDiameter" min="0" placeholder="Max">
              </mat-form-field>
            </div>

            <!-- Temperature Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>S.Temp. Min</mat-label>
                <input matInput type="number" formControlName="minSurfaceTemperature" min="0" placeholder="Min">
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>S.Temp. Max</mat-label>
                <input matInput type="number" formControlName="maxSurfaceTemperature" min="0" placeholder="Max">
              </mat-form-field>
            </div>

            <!-- Orbital Period Range -->
            <div class="flex items-center place-content-between">
              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>O. Period. Min</mat-label>
                <input matInput type="number" formControlName="minOrbitalPeriod" min="0" placeholder="Min">
              </mat-form-field>

              <span class="mb-4">–</span>

              <mat-form-field appearance="outline" class="w-[47%]">
                <mat-label>O. Period. Max</mat-label>
                <input matInput type="number" formControlName="maxOrbitalPeriod" min="0" placeholder="Max">
              </mat-form-field>
            </div>

            <!-- Buttons -->
            <div class="flex items-center pb-4">
              <button mat-button matButton="tonal" color="primary" type="submit">Filter</button>
              <button mat-button type="button" (click)="moonQueryForm.reset(); fetchData();">Reset</button>
            </div>

          </div>
        </form>
      </ng-template>

    </app-custom-table>
  </mat-card>
</div>
