<div>
  <span mat-dialog-title>{{title}}</span>
</div>

<!-- Form -->
<form [formGroup]="starLuminosityClassForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="grid grid-cols-2 gap-4">
      <!-- Code -->
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" maxlength="4">
        <mat-error *ngIf="starLuminosityClassForm.get('code')?.errors?.['required']">
          Code is required.
        </mat-error>
      </mat-form-field>

      <!-- Name -->
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="starLuminosityClassForm.get('name')?.errors?.['required']">
          Name is required.
        </mat-error>
      </mat-form-field>

      <!-- Description -->
      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <!-- Submit Button -->
    <div class="flex justify-center">
      <button color="primary" mat-button type="submit">Save</button>
    </div>
  </mat-dialog-actions>
</form>
