<div class="p-8">
  <h1 class="text-2xl font-semibold mb-4">Dashboard</h1>

  <!-- Dashboard widgets/components -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Chart 1 -->
    <mat-card class="shadow-md">
      <mat-card-header>
        <mat-card-title>Planets By Type</mat-card-title>
      </mat-card-header>
      <mat-card-content class="p-4">
        <div class="w-full flex justify-center">
          <apx-chart *ngIf="planetsByTypeChartOptions"
                     [series]="planetsByTypeChartOptions.series!"
                     [chart]="planetsByTypeChartOptions.chart!"
                     [xaxis]="planetsByTypeChartOptions.xaxis!">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Chart 2 -->
    <mat-card class="shadow-md">
      <mat-card-header>
        <mat-card-title>Users by Role</mat-card-title>
      </mat-card-header>
      <mat-card-content class="p-4">
        <div class="w-full flex justify-center">
          <apx-chart *ngIf="usersByRoleChartOptions"
                     [series]="usersByRoleChartOptions.series!"
                     [chart]="usersByRoleChartOptions.chart!"
                     [xaxis]="usersByRoleChartOptions.xaxis!">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Chart 3 -->
    <mat-card class="shadow-md">
      <mat-card-header>
        <mat-card-title>User Activity</mat-card-title>
      </mat-card-header>
      <mat-card-content class="p-4">
        <div class="w-full flex justify-center">
          <apx-chart *ngIf="userActivityWeekChartOptions"
                     [series]="userActivityWeekChartOptions.series!"
                     [chart]="userActivityWeekChartOptions.chart!"
                     [xaxis]="userActivityWeekChartOptions.xaxis!">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Chart 4 -->
    <mat-card class="shadow-md">
      <mat-card-header>
        <mat-card-title>Entity Activity</mat-card-title>
      </mat-card-header>
      <mat-card-content class="p-4">
        <div class="w-full flex justify-center">
          <apx-chart *ngIf="entityActivityChartOptions"
                     [series]="entityActivityChartOptions.series!"
                     [chart]="entityActivityChartOptions.chart!"
                     [xaxis]="entityActivityChartOptions.xaxis!">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
