<div class="p-[25px]">
  <mat-card appearance="outlined">
    <!-- Header -->
    <mat-card-header>
      <mat-card-title class="h3">{{title}}</mat-card-title>
      <mat-card-subtitle class="">List</mat-card-subtitle>
      <span class="spacer"></span>
    </mat-card-header>

    <!-- Table Component -->
    <app-custom-table [columns]="tableColumns"
                      [userRoleClaims]="userRoleClaims"
                      [objects]="objects"
                      [isLoading]="isLoading"
                      [expandableRows]="true"
                      [expandedElement]="expandedElement"
                      (toggleExpand)="onToggleExpand($event)">

      <!-- Define the expanded content template -->
      <ng-template #expandedContent let-element>
        <div class="grid lg:grid-cols-4 gap-6 p-4">

          <!-- Entity -->
          <div>
            <div class="flex items-center"> <mat-icon class="me-2">api</mat-icon> <span class="text-lg font-medium"> Entity </span></div>
            <div class="grid grid-rows-subgrid mb-2">
              <div><span class="text-gray-700 font-medium">ID:</span> {{element.entityId ? element.entityId : "N/A"}} </div>
              <div><span class="text-gray-700 font-medium">Name:</span> {{element.entityName ? element.entityName : "N/A"}}</div>
            </div>
          </div>

          <!-- User Agent -->
          <div>
            <div class="flex items-center mb-2"> <mat-icon class="me-2">web</mat-icon> <span class="text-lg font-medium"> User Agent </span></div>
            <span class="text-gray-700">{{element.userAgent}}</span>
          </div>

          <!-- Correlation ID -->
          <div>
            <div class="flex items-center mb-2"> <mat-icon class="me-2" fontSet="material-symbols-outlined">arrow_and_edge</mat-icon> <span class="text-lg font-medium"> Correlation </span></div>
            <span class="text-gray-700">{{element.correlationId}}</span>
          </div>

        </div>
      </ng-template>

    </app-custom-table>
  </mat-card>
</div>
