<div>
  <span *ngIf="data != null" mat-dialog-title>Modify Stellar Body</span>
  <span *ngIf="data == null" mat-dialog-title>Add Stellar Body</span>
</div>
<!-- Form -->
<form [formGroup]="stellarBodyForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Stellar Object Type</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <!-- Submit Button -->
    <div class="flex justify-center">
      <button color="primary" mat-button type="submit">Save</button>
    </div>
  </mat-dialog-actions>
</form>

