<div>
  <span *ngIf="data != null" mat-dialog-title>Modify Stellar Body</span>
  <span *ngIf="data == null" mat-dialog-title>Add Stellar Body</span>
</div>
<mat-dialog-content>
  <!-- Form -->
  <form [formGroup]="stellarBodyForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Stellar Object Type</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <!-- Submit Button -->
    <div class="flex justify-center">
      <button color="primary" mat-button type="submit">Save</button>
    </div>
  </form>
</mat-dialog-content>
