<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="max-w-md w-full">
    <mat-card class="registerContainer">

      <!-- Header -->
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-card-content>
          <div class="grid grid-cols-2 gap-4">
            <!-- First Name -->
            <mat-form-field appearance="outline" class="">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">

              <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
                First name is required
              </mat-error>

            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field appearance="outline" class="">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">

              <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
                Last name is required
              </mat-error>

            </mat-form-field>

            <!-- User Name -->
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="userName">

              <mat-error *ngIf="registerForm.get('userName')?.hasError('required')">
                User name is required
              </mat-error>

            </mat-form-field>

            <!-- Email Input -->
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" autocomplete="email">
              <mat-icon matSuffix>alternate_email</mat-icon>

              <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>

              <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>

            </mat-form-field>

            <!-- Date of Birth - FIXED -->
            <mat-form-field appearance="outline" class="col-span-2">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="registerForm.get('dateOfBirth')?.hasError('required')">
                Date of birth is required
              </mat-error>
            </mat-form-field>


            <!-- Phone Number -->
            <mat-form-field appearance="outline" class="col-span-2">

              <mat-label>Phone number</mat-label>
              <input matInput formControlName="phoneNumber" />
              <mat-icon matSuffix>phone</mat-icon>

              <mat-hint>Include area code</mat-hint>

            </mat-form-field>

            <!-- Password Input -->
            <div class="col-span-2">
              <mat-form-field class="w-full" appearance="outline">

                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" autocomplete="current-password">
                <mat-icon matSuffix>lock</mat-icon>

              </mat-form-field>

              <app-password-strength-input [passwordToCheck]="registerForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength-input>

              <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>

              <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
                Password must be at least 8 characters
              </mat-error>
            </div>

            <!-- Confirm Password -->
            <!-- Variable Error Message -->
            <div class="error-message" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
          </div>

          <div class="pt-4 flex items-center"><span>Already have an account? <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" color="primary" routerLink="/Login">Log in</a></span></div>
        </mat-card-content>

        <!-- Actions -->
        <mat-card-actions class="grid grid-cols-1 m-1">
          <button class="w-full" mat-raised-button color="primary" type="submit"
                  [disabled]="registerForm.invalid || loading || !strongPassword">
            {{ loading ? 'Please wait...' : 'Register' }}
          </button>
        </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>
