.spectral-o {
  color: #9db4ff;
}
/* bluish */
.spectral-b {
  color: #aabfff;
}

.spectral-a {
  color: #cad7ff;
}

.spectral-f {
  color: #f8f7ff;
}

.spectral-g {
  color: #fff4ea;
}

.spectral-k {
  color: #ffd2a1;
}

.spectral-m {
  color: #ffcc6f;
}
