<div>
  <ng-container>
    <mat-card-actions>
      <!-- Add Data Button -->
      <ng-container *ngIf="userRoleClaims.includes('WriteAccess')">
        <button matButton (click)="onOpenForm(undefined)">Add</button>
      </ng-container>

      <!-- Import Data Button -->
      <ng-container *ngIf="userRoleClaims.includes('WriteAccess')">
        <button matButton type="button" (click)="importFileInput.click()">
          Import
          <input #importFileInput type="file" hidden (change)="onFileSelected($event)" />
        </button>
      </ng-container>

      <!-- Export Data Button -->
      <ng-container *ngIf="userRoleClaims.includes('ReadAccess')">
        <button matButton [matMenuTriggerFor]="export">Export</button>
        <mat-menu #export="matMenu">
          <button mat-menu-item (click)="onExport('csv')">CSV</button>
          <button mat-menu-item (click)="onExport('json')">JSON</button>
          <button mat-menu-item (click)="onExport('xml')">XML</button>
          <button mat-menu-item (click)="onExport('xlsx')">Excel</button>
        </mat-menu>
      </ng-container>

      <span class="spacer flex-grow"></span>

      <!-- Advanced Filter -->
      <ng-container *ngIf="advancedFilter">
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="flex justify-end"> <span>Filter</span> </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container *ngTemplateOutlet="filterForm;">
            </ng-container>

          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

    </mat-card-actions>
    <mat-card-content>
      <table matSort mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="{{column.cssClass}}"> {{ column.header }} </th>
          <td mat-cell *matCellDef="let element" class="{{column.cssClass}}">
            {{ column.cell ? column.cell(element) : element[column.columnDef] }}
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container class="actionsCol" matColumnDef="actions">
          <th class="w-[115px]" mat-header-cell *matHeaderCellDef></th>
          <td class="w-[115px]" mat-cell *matCellDef="let element">

            <div class="flex justify-end">
              <!-- Edit -->
              <ng-container *ngIf="userRoleClaims.includes('WriteAccess')">
                <button matIconButton (click)="onOpenForm(element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-container>

              <!-- Delete -->
              <ng-container *ngIf="userRoleClaims.includes('DeleteAccess')">
                <button matIconButton (click)="onDelete(element)">
                  <span class="text-red-500"><mat-icon class="text-red-500">delete</mat-icon></span>
                </button>
              </ng-container>
            </div>

          </td>
        </ng-container>

        <!-- Expansion Column -->
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex justify-start">
              <button mat-icon-button (click)="onToggleExpand(element, $event)">
                <mat-icon>{{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Expanded Content Column -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail"
                 [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div class="p-4">
                <ng-container *ngTemplateOutlet="expandedContentTemplate; context: { $implicit: element }">
                </ng-container>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Row shown when there is no matching data and table is not loading. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
            <!--<span *ngIf="input.value != ''; else noDataFromApi">No data matching the filter "{{input.value}}"</span>-->
            <div *ngIf="!isLoading" class="py-4"><span class="text-xl">No data available.</span></div>
          </td>
        </tr>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandableRows && onToggleExpand(element, $event)">
        </tr>
        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']"
            class="detail-row">
        </tr>
      </table>
      <!-- Loading Spinner -->
      <div *ngIf="isLoading" class="w-full px-4 py-6">
        <div class="flex justify-center mb-4">
          <mat-spinner></mat-spinner>
        </div>
        <div class="flex justify-center text-gray-700 text-sm">
          Loading data, please wait...
        </div>
      </div>

      <!-- Paginator -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    </mat-card-content>

  </ng-container>
</div>
